{
"allow_all_act_msg" = 0;
"allow_all_comment" = 1;
"avatar_hd" = "http://tva2.sinaimg.cn/crop.0.0.80.80.1024/006fQYfijw8ex5g4ag2sbj3028028q2p.jpg";
"avatar_large" = "http://tp1.sinaimg.cn/5731066676/180/5740130001/1";
"bi_followers_count" = 1;
"block_app" = 0;
"block_word" = 0;
city = 3;
class = 1;
"created_at" = "Sun Oct 18 18:04:01 +0800 2015";
"credit_score" = 80;
description = "";
domain = "";
"favourites_count" = 0;
"follow_me" = 0;
"followers_count" = 5;
following = 0;
"friends_count" = 3;
gender = m;
"geo_enabled" = 1;
id = 5731066676;
idstr = 5731066676;
lang = "zh-cn";
location = "\U6cb3\U5357 \U6d1b\U9633";
mbrank = 0;
mbtype = 0;
name = "\U8042\U6b23\U6b235731066676";
"online_status" = 0;
"pagefriends_count" = 0;
"profile_image_url" = "http://tp1.sinaimg.cn/5731066676/50/5740130001/1";
"profile_url" = "u/5731066676";
province = 41;
ptype = 0;
remark = "";
"screen_name" = "\U8042\U6b23\U6b235731066676";
star = 0;
status =     {
"attitudes_count" = 0;
"biz_feature" = 0;
"bmiddle_pic" = "http://ww3.sinaimg.cn/bmiddle/006fQYfijw1f1ucgvmv43j3012011gld.jpg";
"comments_count" = 0;
"created_at" = "Sat Mar 12 20:19:15 +0800 2016";
"darwin_tags" =         (
);
favorited = 0;
geo = "<null>";
    "hot_weibo_tags" =         (
    );
    id = 3952299757368234;
    idstr = 3952299757368234;
    "in_reply_to_screen_name" = "";
    "in_reply_to_status_id" = "";
    "in_reply_to_user_id" = "";
    isLongText = 0;
    mid = 3952299757368234;
    mlevel = 0;
    "original_pic" = "http://ww3.sinaimg.cn/large/006fQYfijw1f1ucgvmv43j3012011gld.jpg";
    "pic_urls" =         (
    {
    "thumbnail_pic" = "http://ww3.sinaimg.cn/thumbnail/006fQYfijw1f1ucgvmv43j3012011gld.jpg";
    }
    );
    "reposts_count" = 0;
    source = "<a href=\"http://app.weibo.com/t/feed/5cwJrP\" rel=\"nofollow\">\U672a\U901a\U8fc7\U5ba1\U6838\U5e94\U7528</a>";
    "source_allowclick" = 0;
    "source_type" = 1;
    text = "CrazyNews,\U72ec\U601c\U5e7d\U8349\U6da7\U8fb9\U751f\Uff0c\U4e0a\U6709\U9ec4\U9e42\U6df1\U6811\U9e23\U3002\U6625\U6f6e\U5e26\U96e8\U665a\U6765\U6025\Uff0c\U91ce\U6e21\U65e0\U4eba\U821f\U81ea\U6a2a";
    textLength = 72;
    "text_tag_tips" =         (
    );
    "thumbnail_pic" = "http://ww3.sinaimg.cn/thumbnail/006fQYfijw1f1ucgvmv43j3012011gld.jpg";
    truncated = 0;
    userType = 0;
    visible =         {
    "list_id" = 0;
    type = 0;
    };
    };
    "statuses_count" = 3;
    urank = 0;
    url = "";
    verified = 0;
    "verified_reason" = "";
    "verified_reason_url" = "";
    "verified_source" = "";
    "verified_source_url" = "";
    "verified_trade" = "";
    "verified_type" = "-1";
    weihao = "";
}